.list-group{
    display:inline-block;
}

#algorithms { 
    background-size: 40px 40px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

#timeline {
    background-image: linear-gradient(white,rosybrown);
}

#resources {
    background-color: rebeccapurple;
}