#container{
	width: 100%;
	height: 100vh;
}

#container #simulationParent{
	float: left;
	width: 75%;
	height: 80%;
}

#simulationCanvas{
	width: 100%;
	height: 100%;
}

#container #confControls{
	float: right;
	width: 24%;
	height: 80%;
}

.ConfOption{
	display: block;
	margin: 10px;
}

#container::after { 
  content: "";
  display: block; 
  clear: both;
}