
/*
Style credit goes to 
http://old.marcofolio.net/css/8_different_ways_to_beautifully_style_your_lists.html
*/

/* LIST #2 */
#sourcelist { width:520px; }
#sourcelist ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#bfe1f1;  }
#sourcelist ol li { }
#sourcelist ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:13px; color:#eee; border-left: 1px solid #999; }
#sourcelist ol li p em { display:block; }